/*Styling Hero Section*/
.hero-section {
  width: 100%;
  height: 620px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: var(--spacing-large);
}

.hero-introduction {
  color: var(--foreground-color);
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.hero-text_section {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-large);
  padding-bottom: var(--spacing-large);
}

.hero-subtext {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 240px;
  font-size: var(--font-size-medium);
}

.hero-introduction p {
  font-family: var(--secondary-font);
  width: 35%;
  font-size: var(--font-size-small);
  line-height: 1.8rem;
  padding-top: var(--spacing-xsmall);
}

/*Styling Main Content Section*/
.cards__main-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-small);
  justify-content: center;
}

.card__content-container {
  width: calc(50% - var(--spacing-small));
  height: 300px;
  display: flex;
  justify-content: space-between;
  background-color: var(--foreground-color);
  border-radius: 10px;
}

.card__content-container:hover {
  scale: 101%;
  cursor: pointer;
}

.card__picture-container {
  width: 50%;
  height: 100%;
}

.card__content-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-bottom-left-radius: 10px;
}

.card__information-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-medium);
  border-radius: 10px;
}

.player__information-title {
  font-size: var(--font-size-cards);
}

.player__information-list {
  font-size: var(--font-size-small);
  line-height: var(--spacing-medium);
}

/* Media query */
@media screen and (max-width: 768px) {
  .card__content-container {
    width: 100%;
  }

  .hero-introduction {
    height: 450px;
  }

  .hero-text_section {
    height: 30%;
    font-size: var(--font-size-medium);
  }

  .hero-subtext {
    height: 70%;
    font-size: var(--font-size-cards);
  }

  .hero-introduction p {
    font-family: var(--secondary-font);
    width: 80%;
    font-size: var(--font-size-small);
    line-height: 1.8rem;
    padding-top: var(--spacing-xsmall);
  }
}

@media screen and (max-width: 425px) {
  .card__content-container {
    width: 100%;
  }

  .hero-introduction {
    height: 550px;
  }

  .hero-text_section {
    height: 30%;
    font-size: var(--font-size-cards);
    flex-direction: column;
  }

  .hero-subtext {
    height: 70%;
    font-size: var(--font-size-small);
  }

  .hero-introduction p {
    width: 95%;
    font-size: var(--font-size-xsmall);
    padding-top: var(--spacing-xsmall);
  }

  .card__content-container {
    width: 100%;
  }

  .card__information-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--spacing-medium);
    border-radius: 10px;
  }

  .player__information-title {
    font-size: var(--font-size-small);
  }

  .player__information-list {
    font-size: var(--font-size-small);
    line-height: 1.25rem;
  }
}

@media screen and (max-width: 375px) {
  .card__information-container {
    padding: var(--spacing-small);
  }

  .player__information-title {
    font-size: var(--font-size-small);
  }
}

@media screen and (max-width: 320px) {
  body {
    min-width: 320px;
  }

  .hero-introduction {
    height: 600px;
  }

  .hero-text_section {
    height: 20%;
    font-size: var(--font-size-small);
  }

  .hero-subtext {
    font-size: var(--font-size-small);
  }

  .hero-introduction p {
    width: 100%;
  }
}
