@font-face {
  font-family: Syne;
  src: url(../assets/fonts/Syne.ttf);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-medium);
  background-color: var(--background-color);
  font-family: var(--primary-font);
}

main {
  flex-grow: 1;
}

/*Header Styling*/
header {
  width: 100%;
  height: 180px;
  display: flex;
}

.navbar-container {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-logo {
  max-width: 600px;
  height: 150px;
}

.navbar-links {
  display: flex;
  font-family: var(--primary-font);
  font-size: var(--font-size-medium);
}

/*Footer*/
footer {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--spacing-large);
}

.footer-container {
  height: 300px;
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.footer-logo {
  max-width: 100px;
}

.footer-links {
  display: flex;
  justify-content: right;
}

.footer-links li {
  margin-left: 50px;
  color: var(--foreground-color);
  font-size: var(--font-size-medium);
}

/* Media Queries*/
@media screen and (max-width: 600px) {
  body {
    min-height: 100vh;
    height: 6500px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
  }
  .navbar-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .navbar-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navbar-links li {
    display: flex;
    justify-content: center;
    text-align: right;
  }
}

@media screen and (max-width: 390px) {
  .navbar-logo {
    display: none;
  }

  header {
    width: 100%;
    height: auto;
    display: flex;
  }

  .navbar-container {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-links {
    width: auto;
    display: flex;
    gap: 20px;
  }

  .navbar-links li:first-child {
    margin-left: 0;
    align-self: flex-start;
  }

  .navbar-links li:last-child {
    margin: 0;
    align-self: flex-end;
  }
}

@media screen and (max-width: 425px) {
  header {
    height: 160px;
  }

  .navbar-container {
    width: 100%;
    height: 500px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-logo {
    max-width: 300px;
    height: 100px;
  }

  .navbar-links {
    font-size: var(--font-size-small);
  }
}

@media screen and (max-width: 390px) {
  .navbar-container {
    width: 100%;
    height: 500px;
  }

  .navbar-container a {
    height: 100%;
    width: 150px;
  }

  .navbar-logo {
    display: block;
    max-width: 100px;
    height: auto;
  }

  footer {
    width: 100%;
    height: 150px;
  }

  .footer-container {
    height: 100%;
    max-width: 390px;
  }

  .footer-logo {
    max-width: 100px;
  }

  .footer-links li {
    font-size: var(--font-size-small);
  }
}

@media screen and (max-width: 320px) {
  .navbar-container {
    height: 120px;
  }
}
