:root {
  /*Spacing*/
  --spacing-xsmall: 0.5rem;
  --spacing-small: 1rem;
  --spacing-smedium: 1.5rem;
  --spacing-medium: 2rem;
  --spacing-large: 4rem;

  /*Font Size*/
  --font-size-2xsmall: 0.25rem;
  --font-size-xsmall: 0.5 rem;
  --font-size-small: 1rem;
  --font-size-cards: 1.5rem;
  --font-size-medium: 2rem;
  --font-size-large: 3rem;
  --font-size-xlarge: 4rem;
  --font-size-2xlarge: 5rem;

  /*Colors*/
  --background-color: #008248;
  --foreground-color: #f3f4f0;
  --text-color: black;

  /*Fonts*/
  --primary-font: "Syne", "sans-serif";
  --secondary-font: "futura", "sans-serif";
}
